.container{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.conteudo{
    border: 1px solid #ccc; /* Borda cinza claro */
    padding: 20px; /* Espaçamento interno */
    margin: 20px; 
    width: 500px; 
    text-align: center; 
    background-color: #f9f9f9; 
}
.conteudo button{
    padding: 10px 20px;
}
